*{
    box-sizing: border-box;
    font-family: "Overpass", sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: hsl(25,97%,53%);
    --white: hsl(0, 100%, 100%);
    --text-color: hsl(217, 12%, 63%);
    --card-color: hsl(213, 19%, 18%);
    --bg-color: hsl(216, 12%, 8%);
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}